@tailwind base;
@tailwind components;
@tailwind utilities;

.main-header {
    background-color: #52057B;
    padding: 10px;
    text-align: center;
}

.main-header ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    justify-content: left;
}

.main-header ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 10px;
}

.main-header ul li a:hover {
    text-decoration: underline;
}
